/* Big tablets to 1200px: from 1024 to 1020px */
@media only screen and (max-width: 1200px) {
  .main {
    width: 100%;
    padding: 0 2%;
  }

  .row {
    padding: 0 2%;
  }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }

  section {
    padding: 60px 0;
  }

  .section-about p {
    width: 80%;
    margin-left: 10%;
  }

  .section-form {
    width: 80%;
  }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }

  section {
    padding: 30px 0;
  }

  .row {
    padding: 0 4%;
  }

  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }

  .section-about p {
    width: 90%;
    margin-left: 5%;
  }

  .main-nav {
    display: none;
  }

  .mobile-nav-icon {
    display: inline-block;
    margin-top: 40px;
  }

  .main-nav {
    float: left;
    margin-top: 120px;
    margin-left: 120px;
  }

  .main-nav li {
    display: block;
    padding: 4px;
  }

  .main-nav li a:link,
  .main nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 110%;
  }

  .logo {
    width: 120px;
    height: 70px;
  }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    padding: 10px 0px;
  }

  .sticky .main-nav {
    margin-top: 10px;
  }

  .sticky .logo {
    margin-top: 20px;
  }

  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 150%;
  }

  .section-form {
    width: 100%;
  }

  .products {
    margin: 0 20%;
    width: 70%;
  }

  .product {
    width: 30%;
    margin: 30px;
  }

  .product img {
    width: 140px;
    height: auto;
  }

  .quantity {
    padding: 5px 10px;
  }

  .section-form input[type="submit"] {
    margin-left: 32%;
  }

  .social-links {
    margin-right: 45%;
  }

  .footer-nav {
    margin-left: 20%;
  }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  section {
    padding: 25px 0;
  }

  .section-form {
    width: 100%;
  }

  .sticky .logo {
    margin-top: 5px;
  }

  .sticky .mobile-nav-icon {
    margin-top: 10px;
  }

  .mobile-nav-icon {
    margin-top: 10px;
  }

  .main {
    margin-top: 20%;
  }

  .main-nav {
    margin-top: 30px;
  }

  .products {
    margin: 0 13%;
    width: 70%;
  }

  .product {
    width: 35%;
    margin: 20px;
  }

  .product img {
    width: 140px;
    height: auto;
  }

  .quantity {
    padding: 3px 10px;
  }

  .btn-add:link,
  .btn-add:visited {
    font-size: 80%;
    text-align: center;
  }

  .social-links {
    margin-right: 40%;
  }

  .footer-nav {
    margin-left: 20%;
  }
}
